* {
    margin: 0;
    padding: 0;
    border: 0;
}

form {
    border: 2px solid rgb(255, 162, 0);
    border-radius: 10px;
    margin: 20px 0px;
    padding: 25px;
}

header {
    position: relative;
    background: white;
}

.bg {
    background: white;
    height: 350px;
}

.gold {
    background: rgba(255, 162, 0, 0.7);
}

#log {
    position: absolute;
    width: 92%;
    z-index: 9999;
    top: 0px;
    background: white;
}

.navbottom {
    height: 80px;
    border-bottom: 1px solid rgb(100,100,100);
}

.logobord {
    background: url(../images/icons/logo.jpg) center center / contain no-repeat;
}

#small {
    font-size: 15px!important;
}

h1 {
    color: rgb(255, 162, 0);
    text-align: center;
    width: 92%;
    font-size: 25px;
    font-stretch: ultra-condensed;
}

footer {
    background: white;
    border-top: 1px solid rgb(100,100,100);
    height: 80px;
}

.logo {
    position: relative;
    background: url(../images/icons/logo.jpg) center center / contain no-repeat;
    padding: 20px;
}

.logo::before {
    content: "";
    position: absolute;
    background: url(../images/icons/ny.png) center center / contain no-repeat;
    padding: 20px;
    left: -15px;
    top: -20px;
    transform: rotate(-15deg);
    z-index: 999999999;
}

.before-form-checkbox {
    width: 100%;
}

.form-checkbox-label {
    width: 40%;
}

.form-checkbox {
   width: 5%;
   margin: 0px 10px;
}
