/*
    This is the css style for footer on Project 2208.
    Autor: Konstantin Blinov 
    create date: 06-12-2018
    Russian text begin: селекторы идут в порядке применения на странице
                        блоки обьявлений в алфавитном порядке!
*/
.under-box{
    box-sizing: border-box;
    color: rgb(49, 49, 49);
    display: flex;
    flex-wrap: wrap;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 95%;
    min-width: 750px;
}
.under-box-topik{
    font-size: 80%;
    font-weight: bold;
    margin:0 0 8px 0;
    text-align: left;
    text-transform: uppercase;
}
.under-box-item{ 
    box-sizing: border-box;
    margin-bottom: 40px;
    padding: 5px 10px;
    width: 30%;
 }
.under-item-menu{
    font-size: 70%;
    margin:0 0 5px 0;
}
.under-item-menu a{
    color: rgb(100, 100, 100);
    text-decoration: none;
}
.social-box{
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    margin-top: 15px;
    width: 90%;
}
.social-unit2{
    background: url(../images/icons/twitter.png) center center / contain no-repeat;
    border: 1px solid rgb(100, 100, 100);
    margin:0 8px 5px 0;
    padding: 15px 15px;
}
.social-unit3{
    background: url(../images/icons/facebook.png) center center / contain no-repeat;
    border: 1px solid rgb(100, 100, 100);
    margin:0 8px 5px 0;
    padding: 15px 15px;
}
.social-unit1{
    background: url(../images/icons/instagram.png) center center / contain no-repeat;
    border: 1px solid rgb(100, 100, 100);
    margin:0 8px 5px 0;
    padding: 15px 15px;
}

